*.DS_Store
*.log
*.zip
*.md
.idea
.github
.vscode
.npmignore
.sass-cache/
/nbproject/
/nbproject/private/
/node_modules/
ad.js
TODO
test.html
blank.php
documentation
pages
calender.html
widgets.html
plugins
